extends layout

block content
  div.tab-content
    div.tab-pane.fade.show.active(id='signup',role='tabpanel')
      div(class='card')
        h5.card-header What is this?
        div(class='card-block')
          p(class='card-text') Grade Notify is a service which sends grade-change alerts to your email to prevent the repetitive checking of grades. The notification will be sent within 30 minutes of when the grade change is saved by your teacher. At the moment, it only sends you the cumulative grades for each class, no individual assignments (that is coming soon). It is only setup for Willow Glen High School right now.
      br
      div(class='card')
        h5.card-header Sign Up
        div(class='card-block')
          form(action='/signup', method='post',id='signup-form')
            div(class='container-fluid')
              div(class='row')
                div(class='col-6')
                  label(for='first_name') First Name
                  input(id='first_name',type='text',name='first_name',class='form-control',required=true)
                div(class='col-6')
                  label(for='last_name') Last Name
                  input(id='last_name',type='text',name='last_name',class='form-control',required=true)
                  br
              div(class='row')
                div(class='col-12')
                  label(for='email') Email
                  input(id='email',type='text',name='email',class='form-control',required=true)
                  br
              div(class='row')
                div(class='col-12')
                  label(for='username') Infinite Campus Username
                  input(id='username',type='text',name='username',class='form-control',required=true)
                  br
              div(class='row')
                div(class='col-12')
                  label(for='password') Infinite Campus Password
                  input(id='password',type='password',name='password',class='form-control',required=true)
                  br
              div(class='row')
                div(class='col-12')
                  label(for='studentId') Student ID Number
                  input(id='studentId',type='text',name='studentId',class='form-control',required=true)
                  br
              div(class='row')
                div(class='col-12')
                  label
                    input(id='agree',type='checkbox',name='agree',required=true)
                    |  By registering for this service, you agree to the following statements: 1) I consent to the viewing and storing of my grades through the use of the credentials I have provided above for the sole purpose of receiving grade-alert emails. 2) I acknowledge that this service has taken appropriate measures to encrypt my password. 3) I am at least 13 years of age.
                  br
                  br
              div(class='row')
                div(class='col-12')
                  input(id='submit',type='submit',name='submit',value='Sign Up',class='form-control btn btn-primary btn-block')
    div.tab-pane.fade(id='edit',role='tabpanel')
      div(class='card')
        if !loggedIn
          h5.card-header Log In
        div(class='card-block')
          form(action=(loggedIn ? '/logout' : '/login'), method='post', id='login-form')
            div(class='container-fluid')
              if !loggedIn
                div(class='row')
                  div(class='col-12')
                    label(for='studentId') Student ID Number
                    input(id='studentId',type='text',name='studentId',class='form-control',required=true)
                    br
                div(class='row')
                  div(class='col-12')
                    label(for='password') Infinite Campus Password
                    input(id='password',type='password',name='password',class='form-control',required=true)
                    br
              div(class='row')
                div(class='col-12')
                  input(id='submit',type='submit',name='submit',value=(loggedIn ? 'Log Out' : 'Log In'),class='form-control btn btn-primary btn-block')
      br
      if isAdmin
        div(class='card')
          h5.card-header Admin Portal
          div(class='card-block')
            table.table
              thead
                tr
                  th Status
                  th Name
                  th Student ID
                  th Email
                  th Phone
                  th Premium
              tbody
                - each student in students.all
                  tr
                    td
                      button.btn.btn-secondary.btn-block.account-status(data-student-id=student.student_id)= (students.enabled.includes(student) ? 'Enabled' : 'Disabled')
                    td
                      input.account-text.form-control(type='text', data-key='name', data-student-id=student.student_id, value=student.name)
                    td= student.student_id
                    td
                      input.account-text.form-control(type='text', data-key='email', data-student-id=student.student_id, value=student.email)
                    td
                      input.account-text.form-control(type='text', data-key='phone_email', data-student-id=student.student_id, value=student.phone_email)
                    td
                      button.btn.btn-secondary.btn-block.account-premium(data-student-id=student.student_id)= (student.premium ? 'Premium' : 'Not Premium')
      else if loggedIn
        //- not admin -- display enable/disable
        div(class='card')
          h5.card-header Account Status
          div(class='card-block')
            div(class='container-fluid')
              div(class='row')
                div(class='col-12')
                  if student['enabled']
                    p.card-text Your account is <b id='status'>enabled</b>.
                    button.status-bn.form-control.btn.btn-danger.btn-block#disable Disable
                  else
                    p.card-text Your account is <b id='status'>disabled</b>.
                    button.status-bn.form-control.btn.btn-primary.btn-block#disable Enable
      if loggedIn
        //- shown to all logged in
        br
        div(class='card')
          h5.card-header Donation &amp; Account Upgrade
          div(class='card-block') 
            p(class='card-text') Over 40% of students at WGHS are living in poverty. It would be awesome if you could donate any money (even $1) to the Willow Glen Cares organization, a program which gives back to the Willow Glen students who can't afford everything they need to succeed.
            div.container-fluid
              div.row
                div.col-4
                  div.input-group
                      span.input-group-addon
                        i.fa.fa-usd
                      input.form-control#amount(type='number',name='amount',placeholder='1.00',min="0",step="0.01",pattern="^\d+(?:\.\d{1,2})?$")
                div.col-4
                  button.btn.btn-primary#stripe-charge Donate to WG Cares
            hr
            if student['premium']
              p.card-text You have already upgraded your account.
            else
              p(class='card-text') Upgrade your account (for free!) to be sent texts instead of emails and receive assignment scores instead of only cumulative class grades.
              button.btn.btn-primary#account-upgrade Upgrade Account (free)
        br
        div(class='card')
          h5.card-header Update Account
          div(class='card-block')
            div.container-fluid
              div.row
                div.col-12
                  p(class='card-text') This does <b>not</b> update your Infinite Campus password. It should only be used if your current IC password is different from what you entered on the "Sign Up" page on this site. If you changed your password on Infinite Campus, you must fill this out to resume receiving notifications.
            br
            form(action='/update', method='post', id='update-form')
              div(class='container-fluid')
                div(class='row')
                  div(class='col-12')
                    label(for='new-password') New Infinite Campus Password
                    input(id='new-password',type='password',name='new_password',class='form-control',required=false)
                    br
                div(class='row')
                  div(class='col-12')
                    input(id='submit',type='submit',name='submit',value='Update Password',class='form-control btn btn-primary btn-block')
            if student['premium']
              hr
              form(action='/update/phone', method='post', id='account-form')
                div(class='container-fluid')
                  div.row
                    div.col-12
                      label(for='phone') Phone
                      input(id='phone',type='text',name='phone',class='form-control',value=student['phone'])
                      br
                  div.row
                    div.col-12
                      label(for='carrier') Carrier
                      select(id='carrier',name='carrier',class='form-control')
                        //- Verizon
                        if student['carrier'] == 'vzwpix.com'
                          option(value='vzwpix.com', selected='selected') Verizon
                        else
                          option(value='vzwpix.com') Verizon
                        //- AT&T
                        if student['carrier'] == 'mms.att.net'
                          option(value='mms.att.net', selected='selected') AT&T
                        else
                          option(value='mms.att.net') AT&T
                        //- Sprint
                        if student['carrier'] == 'messaging.sprintpcs.com'
                          option(value='messaging.sprintpcs.com', selected='selected') Sprint
                        else
                          option(value='messaging.sprintpcs.com') Sprint
                        //- T-Mobile
                        if student['carrier'] == 'tmomail.net'
                          option(value='tmomail.net', selected='selected') T-Mobile
                        else
                          option(value='tmomail.net') T-Mobile
                      br
                  div(class='row')
                    div(class='col-12')
                      input(id='submit',type='submit',name='submit',value='Update Phone',class='form-control btn btn-primary btn-block')
        br
  div(class='card')
    h5.card-header Legal
    div(class='card-block')
      p(class='card-text')
        p This service is in no way affiliated with or endorsed by Infinite Campus, Inc.
        p Copyright © Noah Saso 2017 Grade Notify

  script(src="//checkout.stripe.com/checkout.js")
  script.
    var publishableKey = "#{stripe.publishable}";
    var jEP = #{jEP};
  script(src="/javascripts/index.js")