extends layout

block content
  div.tab-content
    div.tab-pane.fade.show.active(id='signup',role='tabpanel')
      div(class='card')
        h5.card-header What is this?
        div(class='card-block')
          p(class='card-text') Grade Notify is a service which sends grade-change alerts to your email to prevent the repetitive checking of grades. The notification will be sent within 30 minutes of when the grade change is saved by your teacher. At the moment, it only sends you the cumulative grades for each class, no individual assignments (that is coming soon). It is only setup for Willow Glen High School right now.
      br
      div(class='card')
        h5.card-header Sign Up
        div(class='card-block')
          form(action='/signup', method='post',id='signup-form')
            div(class='container-fluid')
              div(class='row')
                div(class='col-6')
                  label(for='first_name') First Name
                  input(id='first_name',type='text',name='first_name',class='form-control',required=true)
                div(class='col-6')
                  label(for='last_name') Last Name
                  input(id='last_name',type='text',name='last_name',class='form-control',required=true)
                  br
              div(class='row')
                div(class='col-12')
                  label(for='email') Email
                  input(id='email',type='text',name='email',class='form-control',required=true)
                  br
              div(class='row')
                div(class='col-12')
                  label(for='username') Infinite Campus Username
                  input(id='username',type='text',name='username',class='form-control',required=true)
                  br
              div(class='row')
                div(class='col-12')
                  p.card-text This won't work if you have any siblings on the same account (if you use your parent's account and have siblings). To make sure it works, you should use the account the school created for you (username: 's' + student ID).
                  br
              div(class='row')
                div(class='col-12')
                  label(for='password') Infinite Campus Password
                  input(id='password',type='password',name='password',class='form-control',required=true)
                  br
              div(class='row')
                div(class='col-12')
                  label
                    input(id='agree',type='checkbox',name='agree',required=true)
                    |  By registering for this service, you agree to the following statements: 1) I consent to the viewing and storing of my grades through the use of the credentials I have provided above for the sole purpose of receiving grade-alert emails. 2) I acknowledge that this service has taken appropriate measures to encrypt my password. 3) I am at least 13 years of age.
                  br
                  br
              div(class='row')
                div(class='col-12')
                  input(id='submit',type='submit',name='submit',value='Sign Up',class='form-control btn btn-primary btn-block')
    div.tab-pane.fade(id='edit',role='tabpanel')
      div(class='card')
        h5.card-header Account Status
        div(class='card-block')
          div.container-fluid
            div.row
              div.col-12
                p(class='card-text') If you have <b>already</b> signed up and want to pause the notifications, you can do so here with the "Disable" button. You may also resume them with the "Enable" button.
          br
          form(method='post', id='status-form')
            div(class='container-fluid')
              div(class='row')
                div(class='col-12')
                  label(for='username') Infinite Campus Username
                  input(id='username',type='text',name='username',class='form-control',required=true)
                  br
              div(class='row')
                div(class='col-12')
                  label(for='password') Infinite Campus Password
                  input(id='password',type='password',name='password',class='form-control',required=true)
                  br
              div(class='row')
                div(class='col-12')
                  input(id='submit',type='submit',name='submit',value='Enable',class='form-control btn btn-primary btn-block')
              br
              div(class='row')
                div(class='col-12')
                  input(id='submit',type='submit',name='submit',value='Disable',class='form-control btn btn-danger btn-block')
      br
      div(class='card')
        h5.card-header Update Password
        div(class='card-block')
          div.container-fluid
            div.row
              div.col-12
                p(class='card-text') This does <b>not</b> update your Infinite Campus password. It should only be used if your current IC password is different from what you entered on the "Sign Up" page on this site. If you changed your password on Infinite Campus, you must fill this out to resume receiving notifications.
          br
          form(action='/update', method='post', id='update-form')
            div(class='container-fluid')
              div(class='row')
                div(class='col-12')
                  label(for='username') Infinite Campus Username
                  input(id='username',type='text',name='username',class='form-control',required=true)
                  br
              div(class='row')
                div(class='col-12')
                  label(for='old-password') Old Infinite Campus Password
                  input(id='old-password',type='password',name='old_password',class='form-control',required=false)
                  br
              div(class='row')
                div(class='col-12')
                  label(for='new-password') New Infinite Campus Password
                  input(id='new-password',type='password',name='new_password',class='form-control',required=false)
                  br
              div(class='row')
                div(class='col-12')
                  input(id='submit',type='submit',name='submit',value='Update Password',class='form-control btn btn-primary btn-block')
    
  br
  div(class='card')
    h5.card-header Legal
    div(class='card-block')
      p(class='card-text')
        p This service is in no way affiliated with or endorsed by Infinite Campus, Inc.
        p Copyright © Noah Saso 2017 GradeNotify

  script(src="/javascripts/index.js")